<script>
  const reply = (postId, commentId) => {
    content = prompt('Reply?');
    data = {
      'post_id': postId,
      'parent_id': commentId, // this comment becomes the parent
      'body': content,
    };
    fetch('/newcomment', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    });
  }
  </script>
  <ul>
    {% for comment in post.comments recursive %}
      <li>
        {{comment.body}}
        {% if comment.children|length > 0 %}
          <ul>{{loop(comment.children)}}</ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>