{{template "header"}}

{{define "comment"}}
<li>
    <p>
        {{.Body}}
        <span class="username-text">
            <a href="/user/{{.User.Username}}">
                {{.User.Username}}
            </a>
        </span>
        &nbsp;
        <span class="username-text">
            <a href="/comment/{{.Cid}}">
                reply
            </a>
        </span>

    </p>
    {{if gt (len .Children) 0}}
        <ul>
            {{range .Children}}
                {{template "comment" .}}
            {{end}}
        </ul>
    {{end}}
</li>
{{end}}


<h1>{{.Title}}</h1>
<p>{{.Body}}</p>

<hr />

<ul>
    {{range .Comments}}
        {{template "comment" .}}
    {{end}}
</ul>
{{template "footer"}}