{{template "header" .}}

{{define "comment"}}
<li>
    <p>
        {{.Body}}
        <span class="username-text">
            <a href="/user/{{.User.Username}}">
                {{.User.Username}}
            </a>
        </span>
        &nbsp;
        <span class="username-text">
            <a href="/comment/{{.Cid}}">
                reply
            </a>
        </span>

    </p>
    {{if gt (len .Children) 0}}
        <ul>
            {{range .Children}}
                {{template "comment" .}}
            {{end}}
        </ul>
    {{end}}
</li>
{{end}}


<h1>{{.Post.Title}}</h1>
<p>{{.Post.Body}}</p>

{{if .IsLoggedIn}}
<form method="POST" action="/comment">
  
    <div>
      <label for="text">Comment: </label>
      <textarea id="text" name="text"></textarea>
    </div>

    <input type="hidden" name="cid" value="null">
    <input type="hidden" name="pid" value="{{.Post.Pid}}">
  
    <div>
      <button>Submit</button>
    </div>
    
</form>
{{end}}

<hr />

<ul>
    {{range .Post.Comments}}
        {{template "comment" .}}
    {{end}}
</ul>
{{template "footer"}}